@using PublicCms.Web.Extensions
@if (CurrentPageModel.Parts.Count() > 0)
{
    @foreach (var part in CurrentPageModel.Parts.OrderBy(o => o.DisplayOrder))
    {
        if (part is Models.PageParts.LinkPart)
        {
            var link = (Models.PageParts.LinkPart)part;
            <p><a href="@link.Url">@link.DisplayText</a></p>
        }
        if (part is Models.PageParts.ImagePart)
        {
            var img = (Models.PageParts.ImagePart)part;
            <div>
                <img src="@img.Src" alt="@img.AltText" width="@img.Width" />
            </div>

        }
        if (part is Models.PageParts.TextPart)
        {
            var txt = (Models.PageParts.TextPart)part;
            var displayText = (MarkupString)txt.TextContent.Displayify();
            <div class="textblock">
                <p>@displayText</p>
            </div>
        }
    }
}
@code {
    [Parameter]
    public Models.SimplePage CurrentPageModel { get; set; }
}
